body {
	background-color: #E7E7E7 !important;

}
.first {
	text-align: center;

}
.jumbotron {
	padding-bottom: 1em !important;
	height: 100%;
}
.list {
	font-weight: bold;
}
.scd {
	text-align: center;
}
.thr {
	text-align: center;
}
.frth {
	text-align: center;
	margin-bottom: 22px;
}

#listun, #listdeux {
	text-align: center;
}
#pushing {
	margin-top: 10vh;
	
}

